* text=auto

# JADE Files
*.ddx text encoding=utf-8 working-tree-encoding=UTF-16LE-BOM
*.scm text encoding=utf-8 working-tree-encoding=UTF-16LE-BOM
*.mul text encoding=utf-8 working-tree-encoding=UTF-16LE-BOM

# Windows
*.bat eol=crlf
*.cmd eol=crlf
